In [1]:
import sys,os
sys.path.append("/Users/prabhatkumar/Library/CloudStorage/GoogleDrive-888prabhat@gmail.com/My Drive/Work/trading_updated/")

import data.utils.duckdb_utils as ddu
import duckdb
con = duckdb.connect(database='/Volumes/Seagate/database/development/test', read_only=False)
import data.utils.data_utils as du

In [2]:
master_config_path = "../../config/"
master_config_name = 'banknifty_master'
db_conection = con
feature_spec_name = 'data.feature_specs.feature_spec_new'

In [3]:
obj = du.execute_data_pipeline(master_config_path, master_config_name, db_conection, feature_spec_name)

Feature spec file is data.feature_specs.feature_spec_new
['+master=banknifty_master'] ../../config/
['+data=data_v4', '+model=pycaret_v4', '+common=common'] ../../config/banknifty/
            timestamp     ticker   open   high    low  close
0 2014-05-14 09:16:00  BANKNIFTY  14118  14125  14107  14107
1 2014-05-14 09:17:00  BANKNIFTY  14102  14116  14096  14109
2 2014-05-14 09:18:00  BANKNIFTY  14093  14093  14064  14075
3 2014-05-14 09:19:00  BANKNIFTY  14078  14092  14068  14092
4 2014-05-14 09:20:00  BANKNIFTY  14090  14110  14090  14110
Value of self.max_date_feature_table is 2022-12-23 15:32:00
Value of self.min_date_feature_table is 2010-03-02 09:01:00

In [8]:
duckdb.__version__

'0.5.1'

In [4]:
obj.run_pipelines()

****************************************************************************************************
label_creator called with arguments {'freq': '1min', 'shift': -15, 'shift_column': 'close', 'generator_function_name': 'label_generator_4class'}
Column Status for label__minus_15_1min_close__label_generator_4class is True
Length of delta df is 0
****************************************************************************************************
label_creator called with arguments {'freq': '1min', 'shift': -15, 'shift_column': 'close', 'generator_function_name': 'label_generator_7class'}
Column Status for label__minus_15_1min_close__label_generator_7class is True
Length of delta df is 0
****************************************************************************************************
label_creator called with arguments {'freq': '1min', 'shift': -15, 'shift_column': 'close', 'generator_function_name': 'label_generator_9class'}
Column Status for label__minus_15_1min_close__label_generator_9class is True
Length of delta df is 0
****************************************************************************************************
label_creator called with arguments {'freq': '1min', 'shift': -15, 'shift_column': 'close', 'generator_function_name': 'label_generator_14class'}
Column Status for label__minus_15_1min_close__label_generator_14class is True
Length of delta df is 0
****************************************************************************************************
time_series_column_creator called with arguments {'split_type': 'month', 'buffer_type': 'month', 'buffer': 2, 'splits': {'train': [3, 8], 'validation': [1, 3], 'test': [1, 3]}, 'split_col_name': 'time_split'}
Shape of OHLC dataframe is (1054313, 6)
Shape of the input dataframe is (1054313, 6)
timestamp    datetime64[ns]
ticker               object
open                  int32
high                  int32
low                   int32
close                 int32
dtype: object
first_filter_range_limit :[[Timestamp('2010-03-02 09:01:00'), Timestamp('2010-05-02 09:01:00')]],last_filter_range_limit : [[Timestamp('2023-02-02 09:01:00'), Timestamp('2022-12-23 15:32:00')]]
****************************************************************************************************
Time limits are 2010-03-02 09:01:00, 2010-05-02 09:01:00
                              timestamp                     time_split
timestamp
2010-03-02 09:01:00 2010-03-02 09:01:00  time_split_firstbuffer_fold_1
2010-03-02 09:02:00 2010-03-02 09:02:00  time_split_firstbuffer_fold_1
2010-03-02 09:03:00 2010-03-02 09:03:00  time_split_firstbuffer_fold_1
2010-03-02 09:04:00 2010-03-02 09:04:00  time_split_firstbuffer_fold_1
2010-03-02 09:05:00 2010-03-02 09:05:00  time_split_firstbuffer_fold_1
...                                 ...                            ...
2010-04-30 15:26:00 2010-04-30 15:26:00  time_split_firstbuffer_fold_1
2010-04-30 15:27:00 2010-04-30 15:27:00  time_split_firstbuffer_fold_1
2010-04-30 15:28:00 2010-04-30 15:28:00  time_split_firstbuffer_fold_1
2010-04-30 15:29:00 2010-04-30 15:29:00  time_split_firstbuffer_fold_1
2010-04-30 15:30:00 2010-04-30 15:30:00  time_split_firstbuffer_fold_1

[15990 rows x 2 columns]
complete for split time_split_firstbuffer_fold_1
****************************************************************************************************
Time limits are 2010-05-02 09:01:00, 2010-08-02 09:01:00
                              timestamp               time_split
timestamp
2010-05-03 09:01:00 2010-05-03 09:01:00  time_split_train_fold_1
2010-05-03 09:02:00 2010-05-03 09:02:00  time_split_train_fold_1
2010-05-03 09:03:00 2010-05-03 09:03:00  time_split_train_fold_1
2010-05-03 09:04:00 2010-05-03 09:04:00  time_split_train_fold_1
2010-05-03 09:05:00 2010-05-03 09:05:00  time_split_train_fold_1
...                                 ...                      ...
2010-07-30 15:26:00 2010-07-30 15:26:00  time_split_train_fold_1
2010-07-30 15:27:00 2010-07-30 15:27:00  time_split_train_fold_1
2010-07-30 15:28:00 2010-07-30 15:28:00  time_split_train_fold_1
2010-07-30 15:29:00 2010-07-30 15:29:00  time_split_train_fold_1
2010-07-30 15:30:00 2010-07-30 15:30:00  time_split_train_fold_1

[25345 rows x 2 columns]
complete for split time_split_train_fold_1
****************************************************************************************************
Time limits are 2011-05-02 09:01:00, 2011-11-02 09:01:00
                              timestamp               time_split
timestamp
2011-05-02 09:08:00 2011-05-02 09:08:00  time_split_train_fold_2
2011-05-02 09:16:00 2011-05-02 09:16:00  time_split_train_fold_2
2011-05-02 09:17:00 2011-05-02 09:17:00  time_split_train_fold_2
2011-05-02 09:18:00 2011-05-02 09:18:00  time_split_train_fold_2
2011-05-02 09:19:00 2011-05-02 09:19:00  time_split_train_fold_2
...                                 ...                      ...
2011-11-01 15:26:00 2011-11-01 15:26:00  time_split_train_fold_2
2011-11-01 15:27:00 2011-11-01 15:27:00  time_split_train_fold_2
2011-11-01 15:28:00 2011-11-01 15:28:00  time_split_train_fold_2
2011-11-01 15:29:00 2011-11-01 15:29:00  time_split_train_fold_2
2011-11-01 15:30:00 2011-11-01 15:30:00  time_split_train_fold_2

[47317 rows x 2 columns]
complete for split time_split_train_fold_2
****************************************************************************************************
Time limits are 2012-09-02 09:01:00, 2013-02-02 09:01:00
                              timestamp               time_split
timestamp
2012-09-03 09:08:00 2012-09-03 09:08:00  time_split_train_fold_3
2012-09-03 09:16:00 2012-09-03 09:16:00  time_split_train_fold_3
2012-09-03 09:17:00 2012-09-03 09:17:00  time_split_train_fold_3
2012-09-03 09:18:00 2012-09-03 09:18:00  time_split_train_fold_3
2012-09-03 09:19:00 2012-09-03 09:19:00  time_split_train_fold_3
...                                 ...                      ...
2013-02-01 15:26:00 2013-02-01 15:26:00  time_split_train_fold_3
2013-02-01 15:27:00 2013-02-01 15:27:00  time_split_train_fold_3
2013-02-01 15:28:00 2013-02-01 15:28:00  time_split_train_fold_3
2013-02-01 15:29:00 2013-02-01 15:29:00  time_split_train_fold_3
2013-02-01 15:30:00 2013-02-01 15:30:00  time_split_train_fold_3

[38742 rows x 2 columns]
complete for split time_split_train_fold_3
****************************************************************************************************
Time limits are 2013-11-02 09:01:00, 2014-03-02 09:01:00
                              timestamp               time_split
timestamp
2013-11-03 18:09:00 2013-11-03 18:09:00  time_split_train_fold_4
2013-11-03 18:16:00 2013-11-03 18:16:00  time_split_train_fold_4
2013-11-03 18:17:00 2013-11-03 18:17:00  time_split_train_fold_4
2013-11-03 18:18:00 2013-11-03 18:18:00  time_split_train_fold_4
2013-11-03 18:19:00 2013-11-03 18:19:00  time_split_train_fold_4
...                                 ...                      ...
2014-02-28 15:26:00 2014-02-28 15:26:00  time_split_train_fold_4
2014-02-28 15:27:00 2014-02-28 15:27:00  time_split_train_fold_4
2014-02-28 15:28:00 2014-02-28 15:28:00  time_split_train_fold_4
2014-02-28 15:29:00 2014-02-28 15:29:00  time_split_train_fold_4
2014-02-28 15:30:00 2014-02-28 15:30:00  time_split_train_fold_4

[30452 rows x 2 columns]
complete for split time_split_train_fold_4
****************************************************************************************************
Time limits are 2014-10-02 09:01:00, 2015-02-02 09:01:00
                              timestamp               time_split
timestamp
2014-10-07 09:16:00 2014-10-07 09:16:00  time_split_train_fold_5
2014-10-07 09:17:00 2014-10-07 09:17:00  time_split_train_fold_5
2014-10-07 09:18:00 2014-10-07 09:18:00  time_split_train_fold_5
2014-10-07 09:19:00 2014-10-07 09:19:00  time_split_train_fold_5
2014-10-07 09:20:00 2014-10-07 09:20:00  time_split_train_fold_5
...                                 ...                      ...
2015-01-30 15:26:00 2015-01-30 15:26:00  time_split_train_fold_5
2015-01-30 15:27:00 2015-01-30 15:27:00  time_split_train_fold_5
2015-01-30 15:28:00 2015-01-30 15:28:00  time_split_train_fold_5
2015-01-30 15:29:00 2015-01-30 15:29:00  time_split_train_fold_5
2015-01-30 15:30:00 2015-01-30 15:30:00  time_split_train_fold_5

[28917 rows x 2 columns]
complete for split time_split_train_fold_5
****************************************************************************************************
Time limits are 2015-10-02 09:01:00, 2016-04-02 09:01:00
                              timestamp               time_split
timestamp
2015-10-05 09:16:00 2015-10-05 09:16:00  time_split_train_fold_6
2015-10-05 09:17:00 2015-10-05 09:17:00  time_split_train_fold_6
2015-10-05 09:18:00 2015-10-05 09:18:00  time_split_train_fold_6
2015-10-05 09:19:00 2015-10-05 09:19:00  time_split_train_fold_6
2015-10-05 09:20:00 2015-10-05 09:20:00  time_split_train_fold_6
...                                 ...                      ...
2016-04-01 15:26:00 2016-04-01 15:26:00  time_split_train_fold_6
2016-04-01 15:27:00 2016-04-01 15:27:00  time_split_train_fold_6
2016-04-01 15:28:00 2016-04-01 15:28:00  time_split_train_fold_6
2016-04-01 15:29:00 2016-04-01 15:29:00  time_split_train_fold_6
2016-04-01 15:30:00 2016-04-01 15:30:00  time_split_train_fold_6

[45375 rows x 2 columns]
complete for split time_split_train_fold_6
****************************************************************************************************
Time limits are 2017-02-02 09:01:00, 2017-06-02 09:01:00
                              timestamp               time_split
timestamp
2017-02-02 09:08:00 2017-02-02 09:08:00  time_split_train_fold_7
2017-02-02 09:16:00 2017-02-02 09:16:00  time_split_train_fold_7
2017-02-02 09:17:00 2017-02-02 09:17:00  time_split_train_fold_7
2017-02-02 09:18:00 2017-02-02 09:18:00  time_split_train_fold_7
2017-02-02 09:19:00 2017-02-02 09:19:00  time_split_train_fold_7
...                                 ...                      ...
2017-06-01 15:27:00 2017-06-01 15:27:00  time_split_train_fold_7
2017-06-01 15:28:00 2017-06-01 15:28:00  time_split_train_fold_7
2017-06-01 15:29:00 2017-06-01 15:29:00  time_split_train_fold_7
2017-06-01 15:30:00 2017-06-01 15:30:00  time_split_train_fold_7
2017-06-01 15:31:00 2017-06-01 15:31:00  time_split_train_fold_7

[30202 rows x 2 columns]
complete for split time_split_train_fold_7
****************************************************************************************************
Time limits are 2018-03-02 09:01:00, 2018-09-02 09:01:00
                              timestamp               time_split
timestamp
2018-03-05 09:08:00 2018-03-05 09:08:00  time_split_train_fold_8
2018-03-05 09:16:00 2018-03-05 09:16:00  time_split_train_fold_8
2018-03-05 09:17:00 2018-03-05 09:17:00  time_split_train_fold_8
2018-03-05 09:18:00 2018-03-05 09:18:00  time_split_train_fold_8
2018-03-05 09:19:00 2018-03-05 09:19:00  time_split_train_fold_8
...                                 ...                      ...
2018-06-29 15:27:00 2018-06-29 15:27:00  time_split_train_fold_8
2018-06-29 15:28:00 2018-06-29 15:28:00  time_split_train_fold_8
2018-06-29 15:29:00 2018-06-29 15:29:00  time_split_train_fold_8
2018-06-29 15:30:00 2018-06-29 15:30:00  time_split_train_fold_8
2018-06-29 15:31:00 2018-06-29 15:31:00  time_split_train_fold_8

[30223 rows x 2 columns]
complete for split time_split_train_fold_8
****************************************************************************************************
Time limits are 2019-07-02 09:01:00, 2019-12-02 09:01:00
                              timestamp               time_split
timestamp
2019-07-02 09:08:00 2019-07-02 09:08:00  time_split_train_fold_9
2019-07-02 09:16:00 2019-07-02 09:16:00  time_split_train_fold_9
2019-07-02 09:17:00 2019-07-02 09:17:00  time_split_train_fold_9
2019-07-02 09:18:00 2019-07-02 09:18:00  time_split_train_fold_9
2019-07-02 09:19:00 2019-07-02 09:19:00  time_split_train_fold_9
...                                 ...                      ...
2019-11-29 15:28:00 2019-11-29 15:28:00  time_split_train_fold_9
2019-11-29 15:29:00 2019-11-29 15:29:00  time_split_train_fold_9
2019-11-29 15:30:00 2019-11-29 15:30:00  time_split_train_fold_9
2019-11-29 15:31:00 2019-11-29 15:31:00  time_split_train_fold_9
2019-11-29 15:33:00 2019-11-29 15:33:00  time_split_train_fold_9

[37491 rows x 2 columns]
complete for split time_split_train_fold_9
****************************************************************************************************
Time limits are 2020-06-02 09:01:00, 2020-12-02 09:01:00
                              timestamp                time_split
timestamp
2020-06-02 09:08:00 2020-06-02 09:08:00  time_split_train_fold_10
2020-06-02 09:16:00 2020-06-02 09:16:00  time_split_train_fold_10
2020-06-02 09:17:00 2020-06-02 09:17:00  time_split_train_fold_10
2020-06-02 09:18:00 2020-06-02 09:18:00  time_split_train_fold_10
2020-06-02 09:19:00 2020-06-02 09:19:00  time_split_train_fold_10
...                                 ...                       ...
2020-12-01 15:28:00 2020-12-01 15:28:00  time_split_train_fold_10
2020-12-01 15:29:00 2020-12-01 15:29:00  time_split_train_fold_10
2020-12-01 15:30:00 2020-12-01 15:30:00  time_split_train_fold_10
2020-12-01 15:31:00 2020-12-01 15:31:00  time_split_train_fold_10
2020-12-01 15:32:00 2020-12-01 15:32:00  time_split_train_fold_10

[48423 rows x 2 columns]
complete for split time_split_train_fold_10
****************************************************************************************************
Time limits are 2021-09-02 09:01:00, 2022-04-02 09:01:00
                              timestamp                time_split
timestamp
2021-12-01 09:08:00 2021-12-01 09:08:00  time_split_train_fold_11
2021-12-01 09:16:00 2021-12-01 09:16:00  time_split_train_fold_11
2021-12-01 09:17:00 2021-12-01 09:17:00  time_split_train_fold_11
2021-12-01 09:18:00 2021-12-01 09:18:00  time_split_train_fold_11
2021-12-01 09:19:00 2021-12-01 09:19:00  time_split_train_fold_11
...                                 ...                       ...
2022-04-01 15:28:00 2022-04-01 15:28:00  time_split_train_fold_11
2022-04-01 15:29:00 2022-04-01 15:29:00  time_split_train_fold_11
2022-04-01 15:30:00 2022-04-01 15:30:00  time_split_train_fold_11
2022-04-01 15:31:00 2022-04-01 15:31:00  time_split_train_fold_11
2022-04-01 15:32:00 2022-04-01 15:32:00  time_split_train_fold_11

[24101 rows x 2 columns]
complete for split time_split_train_fold_11
****************************************************************************************************
Time limits are 2010-08-02 09:01:00, 2010-10-02 09:01:00
                              timestamp                 time_split
timestamp
2010-08-02 09:01:00 2010-08-02 09:01:00  time_split_buffer1_fold_1
2010-08-02 09:02:00 2010-08-02 09:02:00  time_split_buffer1_fold_1
2010-08-02 09:03:00 2010-08-02 09:03:00  time_split_buffer1_fold_1
2010-08-02 09:04:00 2010-08-02 09:04:00  time_split_buffer1_fold_1
2010-08-02 09:05:00 2010-08-02 09:05:00  time_split_buffer1_fold_1
...                                 ...                        ...
2010-10-01 15:26:00 2010-10-01 15:26:00  time_split_buffer1_fold_1
2010-10-01 15:27:00 2010-10-01 15:27:00  time_split_buffer1_fold_1
2010-10-01 15:28:00 2010-10-01 15:28:00  time_split_buffer1_fold_1
2010-10-01 15:29:00 2010-10-01 15:29:00  time_split_buffer1_fold_1
2010-10-01 15:30:00 2010-10-01 15:30:00  time_split_buffer1_fold_1

[17087 rows x 2 columns]
complete for split time_split_buffer1_fold_1
****************************************************************************************************
Time limits are 2011-11-02 09:01:00, 2012-01-02 09:01:00
                              timestamp                 time_split
timestamp
2011-11-02 09:08:00 2011-11-02 09:08:00  time_split_buffer1_fold_2
2011-11-02 09:16:00 2011-11-02 09:16:00  time_split_buffer1_fold_2
2011-11-02 09:17:00 2011-11-02 09:17:00  time_split_buffer1_fold_2
2011-11-02 09:18:00 2011-11-02 09:18:00  time_split_buffer1_fold_2
2011-11-02 09:19:00 2011-11-02 09:19:00  time_split_buffer1_fold_2
...                                 ...                        ...
2011-12-30 15:26:00 2011-12-30 15:26:00  time_split_buffer1_fold_2
2011-12-30 15:27:00 2011-12-30 15:27:00  time_split_buffer1_fold_2
2011-12-30 15:28:00 2011-12-30 15:28:00  time_split_buffer1_fold_2
2011-12-30 15:29:00 2011-12-30 15:29:00  time_split_buffer1_fold_2
2011-12-30 15:30:00 2011-12-30 15:30:00  time_split_buffer1_fold_2

[14977 rows x 2 columns]
complete for split time_split_buffer1_fold_2
****************************************************************************************************
Time limits are 2013-02-02 09:01:00, 2013-04-02 09:01:00
                              timestamp                 time_split
timestamp
2013-02-04 09:16:00 2013-02-04 09:16:00  time_split_buffer1_fold_3
2013-02-04 09:17:00 2013-02-04 09:17:00  time_split_buffer1_fold_3
2013-02-04 09:18:00 2013-02-04 09:18:00  time_split_buffer1_fold_3
2013-02-04 09:19:00 2013-02-04 09:19:00  time_split_buffer1_fold_3
2013-02-04 09:20:00 2013-02-04 09:20:00  time_split_buffer1_fold_3
...                                 ...                        ...
2013-04-01 15:26:00 2013-04-01 15:26:00  time_split_buffer1_fold_3
2013-04-01 15:27:00 2013-04-01 15:27:00  time_split_buffer1_fold_3
2013-04-01 15:28:00 2013-04-01 15:28:00  time_split_buffer1_fold_3
2013-04-01 15:29:00 2013-04-01 15:29:00  time_split_buffer1_fold_3
2013-04-01 15:30:00 2013-04-01 15:30:00  time_split_buffer1_fold_3

[14625 rows x 2 columns]
complete for split time_split_buffer1_fold_3
****************************************************************************************************
Time limits are 2014-03-02 09:01:00, 2014-05-02 09:01:00
                              timestamp                 time_split
timestamp
2014-03-03 09:16:00 2014-03-03 09:16:00  time_split_buffer1_fold_4
2014-03-03 09:17:00 2014-03-03 09:17:00  time_split_buffer1_fold_4
2014-03-03 09:18:00 2014-03-03 09:18:00  time_split_buffer1_fold_4
2014-03-03 09:19:00 2014-03-03 09:19:00  time_split_buffer1_fold_4
2014-03-03 09:20:00 2014-03-03 09:20:00  time_split_buffer1_fold_4
...                                 ...                        ...
2014-04-30 15:26:00 2014-04-30 15:26:00  time_split_buffer1_fold_4
2014-04-30 15:27:00 2014-04-30 15:27:00  time_split_buffer1_fold_4
2014-04-30 15:28:00 2014-04-30 15:28:00  time_split_buffer1_fold_4
2014-04-30 15:29:00 2014-04-30 15:29:00  time_split_buffer1_fold_4
2014-04-30 15:30:00 2014-04-30 15:30:00  time_split_buffer1_fold_4

[14343 rows x 2 columns]
complete for split time_split_buffer1_fold_4
****************************************************************************************************
Time limits are 2015-02-02 09:01:00, 2015-04-02 09:01:00
                              timestamp                 time_split
timestamp
2015-02-02 09:16:00 2015-02-02 09:16:00  time_split_buffer1_fold_5
2015-02-02 09:17:00 2015-02-02 09:17:00  time_split_buffer1_fold_5
2015-02-02 09:18:00 2015-02-02 09:18:00  time_split_buffer1_fold_5
2015-02-02 09:19:00 2015-02-02 09:19:00  time_split_buffer1_fold_5
2015-02-02 09:20:00 2015-02-02 09:20:00  time_split_buffer1_fold_5
...                                 ...                        ...
2015-04-01 15:26:00 2015-04-01 15:26:00  time_split_buffer1_fold_5
2015-04-01 15:27:00 2015-04-01 15:27:00  time_split_buffer1_fold_5
2015-04-01 15:28:00 2015-04-01 15:28:00  time_split_buffer1_fold_5
2015-04-01 15:29:00 2015-04-01 15:29:00  time_split_buffer1_fold_5
2015-04-01 15:30:00 2015-04-01 15:30:00  time_split_buffer1_fold_5

[15710 rows x 2 columns]
complete for split time_split_buffer1_fold_5
****************************************************************************************************
Time limits are 2016-04-02 09:01:00, 2016-06-02 09:01:00
                              timestamp                 time_split
timestamp
2016-04-04 09:16:00 2016-04-04 09:16:00  time_split_buffer1_fold_6

In [5]:
x = ddu.load_table_df(connection=con,table_name='banknifty.train_feature')
x = x.sort_values(by='timestamp')
x

,timestamp,ticker,open,high,low,close,label__minus_15_1min_close__label_generator_4class,label__minus_15_1min_close__label_generator_7class,label__minus_15_1min_close__label_generator_9class,label__minus_15_1min_close__label_generator_14class,time_split
568007,2010-03-02 09:01:00,BANKNIFTY,8827,8857,8827,8840,call,30to80,35to80,40to60,time_split_first_buffer_fold_1
568008,2010-03-02 09:02:00,BANKNIFTY,8841,8854,8833,8852,call,30to80,35to80,40to60,time_split_first_buffer_fold_1
568009,2010-03-02 09:03:00,BANKNIFTY,8856,8856,8845,8847,call,30to80,35to80,40to60,time_split_first_buffer_fold_1
568010,2010-03-02 09:04:00,BANKNIFTY,8844,8851,8844,8847,call,30to80,35to80,40to60,time_split_first_buffer_fold_1
568011,2010-03-02 09:05:00,BANKNIFTY,8846,8846,8838,8842,call,30to80,35to80,60to80,time_split_first_buffer_fold_1
...,...,...,...,...,...,...,...,...,...,...,...
775807,2022-12-23 15:28:00,BANKNIFTY,41657,41673,41657,41671,unknown,unknown,unknown,unknown,NaN
775808,2022-12-23 15:29:00,BANKNIFTY,41674,41697,41672,41678,unknown,unknown,unknown,unknown,NaN
775809,2022-12-23 15:30:00,BANKNIFTY,41680,41684,41653,41666,unknown,unknown,unknown,unknown,NaN
775810,2022-12-23 15:31:00,BANKNIFTY,41663,41663,41663,41663,unknown,unknown,unknown,unknown,NaN
775811,2022-12-23 15:32:00,BANKNIFTY,41668,41668,41668,41668,unknown,unknown,unknown,unknown,NaN

In [6]:
x.head(1030000)

,timestamp,ticker,open,high,low,close,label__minus_15_1min_close__label_generator_4class,label__minus_15_1min_close__label_generator_7class,label__minus_15_1min_close__label_generator_9class,label__minus_15_1min_close__label_generator_14class,time_split
568007,2010-03-02 09:01:00,BANKNIFTY,8827,8857,8827,8840,call,30to80,35to80,40to60,time_split_first_buffer_fold_1
568008,2010-03-02 09:02:00,BANKNIFTY,8841,8854,8833,8852,call,30to80,35to80,40to60,time_split_first_buffer_fold_1
568009,2010-03-02 09:03:00,BANKNIFTY,8856,8856,8845,8847,call,30to80,35to80,40to60,time_split_first_buffer_fold_1
568010,2010-03-02 09:04:00,BANKNIFTY,8844,8851,8844,8847,call,30to80,35to80,40to60,time_split_first_buffer_fold_1
568011,2010-03-02 09:05:00,BANKNIFTY,8846,8846,8838,8842,call,30to80,35to80,60to80,time_split_first_buffer_fold_1
...,...,...,...,...,...,...,...,...,...,...,...
746882,2022-09-20 14:30:00,BANKNIFTY,41608,41619,41606,41619,put,-30to-80,-35to-80,-40to-60,time_split_train_fold_13
746883,2022-09-20 14:31:00,BANKNIFTY,41620,41635,41616,41634,put,-30to-80,-35to-80,-60to-80,time_split_train_fold_13
746884,2022-09-20 14:32:00,BANKNIFTY,41634,41642,41632,41638,put,below80,-80to-150,-80to-100,time_split_train_fold_13
746885,2022-09-20 14:33:00,BANKNIFTY,41638,41638,41629,41629,put,below80,-80to-150,-80to-100,time_split_train_fold_13
746886,2022-09-20 14:34:00,BANKNIFTY,41629,41629,41583,41589,put,-30to-80,-35to-80,-40to-60,time_split_train_fold_13

In [7]:
x['time_split'].value_counts()

time_split_train_fold_3           62430
time_split_train_fold_13          60780
time_split_train_fold_7           53602
time_split_train_fold_5           51377
time_split_train_fold_2           38700
time_split_train_fold_1           34312
time_split_train_fold_8           31425
time_split_train_fold_4           30452
time_split_train_fold_10          28797
time_split_train_fold_11          24950
time_split_validation_fold_1      23268
time_split_train_fold_6           22875
time_split_buffer1_fold_10        17012
time_split_validation_fold_3      16582
time_split_buffer2_fold_4         16500
time_split_buffer1_fold_9         16253
time_split_buffer1_fold_1         16136
time_split_buffer1_fold_5         16122
time_split_buffer2_fold_7         16058
time_split_first_buffer_fold_1    15990
time_split_buffer2_fold_9         15877
time_split_buffer2_fold_11        15871
time_split_validation_fold_8      15871
time_split_buffer1_fold_11        15850
time_split_validation_fold_2      15836
time_split_buffer2_fold_1         15782
time_split_buffer2_fold_3         15745
time_split_buffer2_fold_5         15733
time_split_test_fold_3            15676
time_split_test_fold_4            15375
time_split_buffer1_fold_6         15375
time_split_buffer1_fold_7         15099
time_split_test_fold_1            15001
time_split_validation_fold_6      15000
time_split_buffer1_fold_2         14977
time_split_buffer2_fold_2         14833
time_split_train_fold_9           14690
time_split_buffer2_fold_10        14629
time_split_buffer1_fold_3         14625
time_split_validation_fold_9      14357
time_split_buffer1_fold_4         14343
time_split_test_fold_9             8694
time_split_buffer1_fold_8          8690
time_split_test_fold_2             8648
time_split_buffer2_fold_6          8250
time_split_validation_fold_5       8250
time_split_test_fold_6             8249
time_split_test_fold_12            7925
time_split_validation_fold_11      7623
time_split_test_fold_7             7556
time_split_buffer2_fold_8          7552
time_split_validation_fold_7       7551
time_split_test_fold_10            7182
time_split_validation_fold_10      7177
time_split_test_fold_5             7125
time_split_test_fold_11            6935
time_split_buffer2_fold_12         1134
time_split_validation_fold_4        375
Name: time_split, dtype: int64

In [10]:
x['time_split'].value_counts()

time_split_train_fold_3           107524
time_split_train_fold_5            90632
time_split_train_fold_10           81600
time_split_train_fold_2            80348
time_split_train_fold_7            77414
time_split_train_fold_6            76500
time_split_train_fold_8            76226
time_split_train_fold_9            62750
time_split_train_fold_4            62256
time_split_train_fold_1            50690
time_split_test_fold_2             49632
time_split_validation_fold_5       47966
time_split_validation_fold_2       46596
time_split_validation_fold_6       44530
time_split_test_fold_1             44332
time_split_test_fold_9             43622
time_split_test_fold_4             42872
time_split_buffer1_fold_1          34174
time_split_buffer2_fold_4          33000
time_split_buffer2_fold_6          32468
time_split_buffer1_fold_5          32244
time_split_first_buffer_fold_1     31980
time_split_validation_fold_7       31874
time_split_buffer1_fold_10         31874
time_split_buffer2_fold_9          31746
time_split_buffer2_fold_1          31512
time_split_test_fold_5             31500
time_split_validation_fold_1       31056
time_split_validation_fold_9       30998
time_split_test_fold_11            30996
time_split_buffer2_fold_7          30976
time_split_buffer1_fold_7          30970
time_split_buffer1_fold_11         30214
time_split_buffer1_fold_4          30186
time_split_test_fold_3             30000
time_split_buffer2_fold_2          29666
time_split_buffer1_fold_9          29620
time_split_buffer2_fold_11         29484
time_split_buffer1_fold_2          29316
time_split_validation_fold_10      28984
time_split_buffer2_fold_5          28500
time_split_buffer1_fold_3          28480
time_split_buffer2_fold_3          19490
time_split_test_fold_7             17380
time_split_buffer1_fold_6          17248
time_split_validation_fold_3       16684
time_split_validation_fold_8       16632
time_split_buffer1_fold_8          15874
time_split_validation_fold_11      15720
time_split_buffer2_fold_8          15120
time_split_test_fold_6             14350
time_split_test_fold_8             13594
time_split_validation_fold_4       13500
time_split_train_fold_11            2268
Name: time_split, dtype: int64

In [ ]:
s_d = {"function_name":"label_creator","feature_name":"label__minus_15_1min_close__label_generator_4class","feature_args":{'freq': '1min', 'shift': -15, 'shift_column': 'close', 'generator_function_name': 'label_generator_4class'},"status":"loaded","updated_timestamp":"2023-01-01 19:43:18.371328"}

In [ ]:
sql = f'''
INSERT INTO banknifty.train_feature_info select {s_d}
'''

con.execute(sql)

In [ ]:
import datetime as dt
args = {'freq': '1min', 'shift': -15, 'shift_column': 'close', 'generator_function_name': 'label_generator_4class'}
sql = f'''
    UPDATE banknifty.train_feature_info
    SET 
    function_name = 'label_creator',
    feature_name = 'label__minus_15_1min_close__label_generator_4class',
    feature_args = {args},
    status = 'loaded',
    updated_timestamp = '{dt.datetime.now()}'           
    WHERE feature_name = 'label__minus_15_1min_close__label_generator_4class'
    '''
con.execute(sql)

In [ ]:
s_d = {"function_name":"label_creator","feature_name":"label__minus_15_1min_close__label_generator_4class","feature_args":{'freq': '1min', 'shift': -15, 'shift_column': 'close', 'generator_function_name': 'label_generator_4class'},"status":"loaded","updated_timestamp":"2023-01-01 19:43:18.371328"}
s = f'''
insert into banknifty.train_feature_info
select tab.function_name,tab.feature_name,tab.feature_args,tab.status,tab.updated_timestamp from
(select {s_d} as tab)
'''
con.execute(s)
#a = con.execute(s).df()
#type(a.loc[0]['feature_args'])

In [ ]:
t = "delete from banknifty.train_feature_info where function_name = 'label_creator'"
con.execute(t)

,timestamp,ticker,open,high,low,close,label__minus_15_1min_close__label_generator_4class,label__minus_15_1min_close__label_generator_7class,label__minus_15_1min_close__label_generator_9class,label__minus_15_1min_close__label_generator_14class,time_split
540359,2010-03-02 09:01:00,BANKNIFTY,8827,8857,8827,8840,call,30to80,35to80,40to60,time_split_first_buffer_fold_1
1494320,2010-03-02 09:01:00,BANKNIFTY,8827,8857,8827,8840,call,30to80,35to80,40to60,time_split_first_buffer_fold_1
540360,2010-03-02 09:02:00,BANKNIFTY,8841,8854,8833,8852,call,30to80,35to80,40to60,time_split_train_fold_10
1494321,2010-03-02 09:02:00,BANKNIFTY,8841,8854,8833,8852,call,30to80,35to80,40to60,time_split_train_fold_10
540361,2010-03-02 09:03:00,BANKNIFTY,8856,8856,8845,8847,call,30to80,35to80,40to60,time_split_train_fold_11
...,...,...,...,...,...,...,...,...,...,...,...
1854698,2022-12-23 15:30:00,BANKNIFTY,41680,41684,41653,41666,unknown,unknown,unknown,unknown,time_split_last_buffer_fold_1
1854699,2022-12-23 15:31:00,BANKNIFTY,41663,41663,41663,41663,unknown,unknown,unknown,unknown,time_split_last_buffer_fold_1
805506,2022-12-23 15:31:00,BANKNIFTY,41663,41663,41663,41663,unknown,unknown,unknown,unknown,time_split_last_buffer_fold_1
1854700,2022-12-23 15:32:00,BANKNIFTY,41668,41668,41668,41668,unknown,unknown,unknown,unknown,time_split_last_buffer_fold_1
805507,2022-12-23 15:32:00,BANKNIFTY,41668,41668,41668,41668,unknown,unknown,unknown,unknown,time_split_last_buffer_fold_1

In [6]:
x['time_split'].value_counts()

time_split_train_fold_11          359939
time_split_train_fold_10          321882
time_split_train_fold_9           261101
time_split_train_fold_8           201145
time_split_train_fold_7           170119
time_split_train_fold_6           137706
time_split_train_fold_5           100974
time_split_train_fold_4            74152
time_split_train_fold_3            47847
time_split_validation_fold_11      42936
time_split_last_buffer_fold_1      31878
time_split_buffer2_fold_11         31752
time_split_train_fold_2            23990
time_split_buffer1_fold_11         17362
time_split_test_fold_11            15876
time_split_validation_fold_10      15780
time_split_buffer1_fold_10         14911
time_split_buffer1_fold_9          11367
time_split_validation_fold_9       10201
time_split_validation_fold_7        9466
time_split_buffer2_fold_9           9298
time_split_test_fold_7              9155
time_split_train_fold_1             8749
time_split_validation_fold_6        7550
time_split_buffer1_fold_8           7525
time_split_test_fold_8              7194
time_split_buffer2_fold_10          7158
time_split_test_fold_5              6118
time_split_buffer1_fold_7           5989
time_split_test_fold_9              5557
time_split_test_fold_4              5409
time_split_buffer2_fold_6           5236
time_split_buffer1_fold_6           5133
time_split_test_fold_6              4806
time_split_buffer2_fold_5           4775
time_split_buffer2_fold_8           4435
time_split_buffer1_fold_5           4109
time_split_validation_fold_8        4075
time_split_buffer2_fold_4           4017
time_split_buffer2_fold_7           3892
time_split_buffer1_fold_4           3744
time_split_validation_fold_4        3624
time_split_validation_fold_3        3598
time_split_test_fold_3              3350
time_split_buffer2_fold_3           3226
time_split_buffer1_fold_3           3179
time_split_test_fold_2              3110
time_split_buffer1_fold_2           3089
time_split_validation_fold_2        2960
time_split_buffer1_fold_1           2936
time_split_buffer2_fold_2           2921
time_split_buffer2_fold_1           2870
time_split_first_buffer_fold_1      2731
time_split_validation_fold_5        2459
time_split_validation_fold_1        1363
time_split_test_fold_1              1322
Name: time_split, dtype: int64

In [ ]:
type(x.loc[0]['feature_args'])

In [ ]:
s_d = {"function_name":"label_creator","feature_name":"label__minus_15_1min_close__label_generator_4class","feature_args":{'freq': '1min', 'shift': -15, 'shift_column': 'close', 'generator_function_name': 'label_generator_4class'},"status":"loaded","updated_timestamp":"2023-01-01 19:43:18.371328"}
s = f'''
update banknifty.train_feature_info
set feature_args = 
(select tab.feature_args from
(select {s_d} as tab))
where function_name = 'label_creator1'

'''
print(s)
con.execute(s)
#a = con.execute(s).df()
#type(a.loc[0]['feature_args'])

In [ ]:
s= ""
for i,j in s_d.items():
    s=s+f'{i}="{j}",'

In [ ]:
print(s)

In [ ]:
sql = '''
INSERT INTO banknifty.train_feature_info VALUES ("label_creator","label__minus_15_1min_close__label_generator_4class","saved","{'freq': '1min', 'shift': -15, 'shift_column': 'close', 'generator_function_name': 'label_generator_4class'}","2023-01-01 19:43:18.371328")
'''
sql1 = '''
INSERT INTO banknifty.train_feature_info VALUES ("label_creator"),("label__minus_15_1min_close__label_generator_4class"),("saved"),("{'freq': '1min', 'shift': -15, 'shift_column': 'close', 'generator_function_name': 'label_generator_4class'}"),("2023-01-01 19:43:18.371328")
'''
print(sql)
con.execute(sql)

In [ ]:
ddu.check_if_table_exists(con, table_name='banknifty.train_feature')

In [ ]:
sql = f"select max(timestamp) as max_timestamp from banknifty.train_feature"
max_date_feature_table = con.execute(sql).fetchone()[0]

In [ ]:
from datetime import datetime, timedelta
d = max_date_feature_table - timedelta(days=60)
d

In [ ]:
x = ddu.load_table_df(connection=con,table_name='banknifty.train_feature')
x = x.sort_values(by='timestamp')
x.head(500)

In [ ]:
x

In [ ]:
x['ROLLPVR_low_w_1_30min_MAX_MIN'].value_counts()

In [ ]:
import pandas as pd
test = pd.read_csv('test.csv')
test.head()

In [ ]:
tmpdf = obj.feature_pipeline.feature_mart.get_ohlc_df()
#tmpdf = tmpdf.sort_values(by='timestamp')
#tmpdf.index = tmpdf.timestamp
tmpdf

In [ ]:
tmpdf.dtypes

In [ ]:
import pandas as pd
import numpy as np
tmpdf['close1'] = tmpdf['close'].resample('1min').ffill().groupby(pd.Grouper(freq='d')).apply(lambda x: np.array(x)[-1]-np.array(x)[0]).shift(1)

In [ ]:
tmpdf['close'].resample('1min').ffill().groupby(pd.Grouper(freq='w')).apply(lambda x: np.array(x)[-1]-np.array(x)[0]).shift(1)

In [ ]:
tmpdf['close'].resample('1min').ffill().groupby(pd.Grouper(freq='d')).apply(lambda x: np.array(x)[-1]-np.array(x)[0]).shift(1)

In [ ]:
tmpdf['close1'].value_counts()

In [ ]:
sql = f'''UPDATE banknifty.train_feature
SET label__minus_15_1min_close__label_generator_4class = test.label__minus_15_1min_close__label_generator_4class
FROM test
WHERE banknifty.train_feature.timestamp = test.timestamp
'''
print(f"SQL to be run is {sql}")
con.execute(sql)

In [ ]:
obj.feature_pipeline.feature_mart.__dir__()

In [ ]:
'label_generator_4class' in dict(obj.__dict__)['feature_pipeline'].feature_mart.__dir__()

In [ ]:
a = getattr(dict(obj.__dict__)['feature_pipeline'].feature_mart,'label_generator_4class')

In [ ]:
a.__dir__()

In [ ]:
obj.run_pipelines()

In [ ]:
x = ddu.load_table_df(connection=con,table_name='banknifty.train_feature')
x = x.sort_values(by='timestamp')
x.head(500)

In [ ]:
x['ROLLPDR_open_d_1_15min_MAX_MIN'].value_counts()

In [ ]:
x.shape

In [ ]:
x.shape

In [ ]:
import pandas as pd
import numpy as np
np.sum(pd.isnull(x))

In [ ]:
x['label__minus_15_1min_close__label_generator_4class'].dtype in ['int','double']

In [ ]:
import pandas as pd

import pandas as pd
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype, is_bool_dtype,   is_datetime64_any_dtype, is_string_dtype, is_datetime64_dtype

In [ ]:
is_string_dtype(x['label__minus_15_1min_close__label_generator_4class'])

In [ ]:
is_datetime64_any_dtype(x['close'])

In [5]:
ddu.drop_object(connection=con,object_type='table',object_name='banknifty.train_feature')

DROP sql is DROP table IF EXISTS banknifty.train_feature

In [6]:
ddu.drop_object(connection=con,object_type='table',object_name='banknifty.train_feature_info')

DROP sql is DROP table IF EXISTS banknifty.train_feature_info